<template>
  <header>
    <nuxt-link to="/"  class="logo-wrapper" custom v-slot="{ navigate }">
    <span @click="navigate" @keypress.enter="navigate" role="link">
      <nuxt-icon />
      <span class="title">
        <h1>Welcome to FOLLOW YOUR DREAMS's blog & posts</h1>
        <h2></h2>
      </span></span>
    </nuxt-link>
    <nav>
      <ul>
        <li v-for="link in links" :key="link.slug">
          <nuxt-link :to="{ name: link.slug }">
            {{ link.name }}
          </nuxt-link>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import NuxtIcon from '@/assets/icons/nuxt.svg?inline'

export default {
  components: {
    NuxtIcon
  },
  data() {
    return {
      links: [
        {
          name: 'New',
          slug: 'index'
        },
        {
          name: 'Top',
          slug: 'top'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  max-width: $screen-xl;
  margin: auto;
  padding: 1rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(34,193,195);
  background: linear-gradient(30deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  .logo-wrapper {
    margin: 0 0.5rem;
    svg {
      width: 3rem;
      height: 100%;
    }
  }
  nav {
    letter-spacing: $-ls2;
    font-weight: $display-font-weight;
    text-transform: uppercase;
    ul {
      display: flex;
      li {
        margin: 0 0.5rem;
        a {
          box-shadow: $small-shadow;
          padding: 0.25rem 1rem;
          border-radius: 0.5rem;
          user-select: none;
          &:hover {
            background: $hovered-surface-color;
          }
          &.nuxt-link-exact-active {
            cursor: default;
            background: transparent;
            box-shadow: $small-inner-shadow;
          }
          &:active {
            background: transparent;
            box-shadow: $small-inner-shadow;
          }
        }
      }
    }
  }
  h1 {
  // color: transparent;
  //Autoprefixer makes this -webkit-background-clip
   background-clip: text;
  // color: linear-gradient(to right, greenishcolor, blueishcolor);
  }
}
</style>
