.vue-content-placeholders-img,
.vue-content-placeholders-text__line,
.vue-content-placeholders-heading__img,
.vue-content-placeholders-heading__title,
.vue-content-placeholders-heading__subtitle {
  background: linear-gradient(
    to right,
    from-rose-800,
    via-cyan-700,
    to-teal-300
  ) !important;
}

.vue-content-placeholders-is-animated
  .vue-content-placeholders-text__line::before,
.vue-content-placeholders-is-animated .vue-content-placeholders-img::before,
.vue-content-placeholders-is-animated
  .vue-content-placeholders-heading__img::before,
.vue-content-placeholders-is-animated
  .vue-content-placeholders-heading__title::before,
.vue-content-placeholders-is-animated
  .vue-content-placeholders-heading__subtitle::before {
  background: linear-gradient(
    to right,
    transparent 0%,
    #d3ddf9 15%,
    transparent 30%
  ) !important;
}
