html {
  height: 100%;
  font-size: 18px;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

@media (min-width: $screen-sm) {
  html {
    font-size: 20px;
  }
}

$green: #a8ff78;
$aqua: #78ffd6;

body {
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  height: 100%;
  min-width: 320px;
  font-family: $body-font-family, $sans-serif-fallback-stack;
  font-weight: $body-font-weight;
  line-height: 1.5;
  color: $on-surface-color;
  background-color: $surface-color;
  // background: rgba(34, 192, 195, 0.205);
  // background: linear-gradient(
  //  30deg,
  //  rgba(34, 193, 195, 1) 0%,
  //  rgba(253, 187, 45, 1) 100%
  // );
  -webkit-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility; // Enable kerning and optional ligatures
  font-synthesis: none;
  font-kerning: normal;
  font-feature-settings: $body-font-feature-settings;
  -webkit-font-smoothing: antialiased; // Make type rendering look crisper
  -moz-osx-font-smoothing: grayscale; // Make type rendering look crisper
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  color: darken($color: #e01212, $amount: 0);
}

h2,
h3,
h4,
h5,
h6 {
  color: $on-surface-color;
  font-family: $display-font-family, $sans-serif-fallback-stack;
  font-weight: $display-font-weight;
  font-feature-settings: $display-font-feature-settings;
  line-height: 1.2;
}

@function gray($color) {
  @return rgb($color, $color, $color);
}

body {
  margin: 0px;
  overflow: hidden;
  padding: 0px;

  input,
  h1,
  a {
    color: gray(90);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
  }
}
// 7317 4515 EFAA 1F21 354E 0467 1E
#app {
  background: linear-gradient(to right, $green, $aqua);
  height: 100vh;
  width: 100vw;

  #phone-number {
    height: 80px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;

    .digit {
      display: inline-block;
      position: relative;

      &:nth-child(3),
      &:nth-child(6) {
        margin-right: 20px;
      }

      input {
        border-radius: 5px;
        border: none;
        font-size: 0em;
        height: 80px;
        line-height: 80px;
        margin-right: 10px;
        outline: none;
        text-align: center;
        width: 60px;

        &:focus {
          box-shadow: 0px 0px 20px 4px rgba(black, 0.25);

          + .underline {
            display: block;
          }
        }
      }

      .underline {
        background-color: $green;
        bottom: 15px;
        display: none;
        height: 2px;
        left: 15px;
        position: absolute;
        width: 30px;
      }

      .digit-overlay {
        font-size: 2.5em;
        height: 80px;
        line-height: 80px;
        pointer-events: none;
        position: absolute;
        text-align: center;
        transition: all 1s;
        width: 60px;
        z-index: 2;
      }
    }
  }

  #youtube-link {
    bottom: 0px;
    font-size: 1.25em;
    font-weight: 700;
    margin: 20px;
    position: fixed;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
  }
}
