$body-font-family: "Inter";
$body-font-weight: 400;
$bold-body-font-weight: 500;
$body-font-feature-settings: "normal";
$display-font-family: "Inter";
$display-font-weight: 600;
$display-font-feature-settings: "normal";
$primary-color: #6e87d2;
$primary-dark: #d4dfe8;
$surface-color: #eff4f7;
$on-surface-color: #000000;
$hovered-surface-color: linear-gradient(
  135deg,
  rgba(0, 0, 0, 0.09),
  rgba(255, 255, 255, 0)
);
$elevated-surface-color: #dfe8ef;
$on-elevated-surface-color: yellow;
$gray-color: #999999;
$shadow: -9px -9px 16px #f8fafe, 9px 9px 16px #ced2db;
$inner-shadow: inset -9px -9px 16px #f0f3f9, inset 9px 9px 16px #ced2db;
$small-shadow: -4px -4px 8px #f8fafe, 4px 4px 8px #ced2db;
$small-inner-shadow: inset -4px -4px 8px #f0f3f9, inset 4px 4px 8px #ced2db,
  inset -1px -1px 4px #8e8e8e;
$screen-sm: 640px;
$screen-md: 834px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$text-ssss: 0.333333rem;
$text-sss: 0.5rem;
$text-ss: 0.666666rem;
$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-2xl: 1.5rem;
$text-3xl: 1.875rem;
$text-4xl: 2.25rem;
$-ls5: 5 * -0.0125rem;
$-ls4: 4 * -0.0125rem;
$-ls3: 3 * -0.0125rem;
$-ls2: 2 * -0.0125rem;
$-ls1: -0.0125rem;
$ls1: 0.0125rem;
$ls2: 2 * 0.0125rem;
$ls3: 3 * 0.0125rem;
$ls4: 4 * 0.0125rem;
$ls5: 5 * 0.0125rem;
$sans-serif-fallback-stack: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
